include:
  - project: helsepersonell/team-plattform/nhn-ci-template
    file: .gitlab-ci.yml
    ref: "0.12.1"

variables:
  IMAGE_NAME: xcadocumentsource
  HARBOR_REPOSITORY: team-dokumentdeling
  HARBOR_IMAGE_REPOSITORY: $IMAGE_NAME

build image and push to harbor:
  variables:
    SRC_FOLDER: "XcaXds.WebService"
    CONTEXT_FOLDER: "."
    NHN_DEFAULT_FILTER_EXTRA_PATH: ".gitlab-ci.yml"
    DOCKERFILE: "Dockerfile"
  extends:
    - .nhn-image-build-and-push-harbor

tag manifest:
  extends:
    - .manifest-repo-update-singlefile
  variables:
    MANIFEST_REPO_URL: "milliways.nhn.no/helsepersonell/team-dokumentdeling/xcads/k8s/xcadocumentstore.git"
    SRC_FOLDER: "."
    DEPLOY_ENVIRONMENTS: "test"
    GITLAB_USER: gitlab-user
    GITLAB_TOKEN: $FRANK_GITLAB_TOKEN
    NHN_DEFAULT_FILTER_EXTRA_PATH: ".gitlab-ci.yml"

tag manifest prod:
  extends:
    - tag manifest
  variables:
    DEPLOY_ENVIRONMENTS: "prod"
  when: manual

