<configuration>
    <packageSources>
        <!--To inherit the global NuGet package sources remove the <clear/> line below -->
        <clear />
        <add key="nuget" value="https://nexus.nhn.no/repository/nuget-proxy/index.json" protocolVersion="3" />
        <add key="nexus" value="https://nexus.nhn.no/repository/dhp-nuget" />
    </packageSources>
</configuration>