@using XcaXds.Commons.Models.ClinicalDocument

<h3>AssignedCustodianComponent</h3>
<p>
    
<span>ID: @AssignedCustodian.RepresentedCustodianOrganization.Id.FirstOrDefault().Extension</span>
<span> ^^^ @AssignedCustodian.RepresentedCustodianOrganization.Id.FirstOrDefault().Root</span>
</p>

<p>Organization: @AssignedCustodian.RepresentedCustodianOrganization.Name.XmlText</p>
@code {
    [Parameter]
    public AssignedCustodian AssignedCustodian { get; set; }
}
