@using XcaXds.Commons.Models.ClinicalDocument

<h3>AuthorComponent</h3>

@if (Author.AssignedAuthor != null)
{
    <p>Authoring time: @Author.Time.EffectiveTime.ToString("yyyyMMhhddhhhmm")</p>
    <AssignedAuthorComponent AssignedAuthor="Author.AssignedAuthor" />
}

@code {
    [Parameter]
    public Author Author { get; set; }
}
