@using XcaXds.Commons.Models.ClinicalDocumentArchitecture;

@if (CdaDocument != null && !string.IsNullOrWhiteSpace(CdaDocument.Title))
{
    <h3>@CdaDocument.Title</h3>
    <ul>
        <li>Id: @CdaDocument.Id.Extension</li>
        <li>Id: @CdaDocument.ConfidentialityCode.</li>
    </ul>
    if (CdaDocument.RecordTarget != null)
    {
        @foreach (var recordTarget in CdaDocument.RecordTarget)
        {
            <RecordTargetComponent RecordTarget="recordTarget" />
        }
    }
    if (CdaDocument.Author != null)
    {
        @foreach (var author in CdaDocument.Author)
        {
            <AuthorComponent Author="author" />
        }
    }
    if (CdaDocument.Custodian != null)
    {
        <CustodianComponent AssignedCustodian="CdaDocument.Custodian" />
    }
    if (CdaDocument.Component != null)
    {
        <ComponentComponent Component="CdaDocument.Component" />
    }
}

@code {

    [Parameter]
    public ClinicalDocument CdaDocument { get; set; }
}
