@using XcaXds.Commons.Models.ClinicalDocument;
<h3>ComponentComponent</h3>

<NonXmlBodyComponent NonXmlBody="Component.NonXmlBody" />

@code {
    [Parameter]
    public Component Component { get; set; }
}
