@using XcaXds.Commons.Models.ClinicalDocumentArchitecture
<h3>CustodianComponent</h3>

<AssignedCustodianComponent AssignedCustodian="AssignedCustodian.AssignedCustodian" />

@code {
    [Parameter]
    public Custodian AssignedCustodian { get; set; }
}
