@using XcaXds.Commons.Models.ClinicalDocument.Types

<span>@nameString</span>

@code {
    [Parameter]
    public EN Name{ get; set; }

    private string nameString;

    protected override void OnInitialized()
    {
        var firstNames = string.Join(" ", Name.Family.Select(fam => fam.Value).ToList());
        var lastNames = string.Join(" ", Name.Given.Select(giv => giv.Value).ToList());
        nameString = $"{firstNames} {lastNames}";
    }
}
