@using XcaXds.Commons.Models.ClinicalDocumentArchitecture
<h3>NonXmlBodyComponent</h3>
@if (NonXmlBody != null)
{
    <span>@NonXmlBody.Text</span>
}

@code {
    [Parameter]
    public NonXmlBody NonXmlBody { get; set; }
}
