@using XcaXds.Commons.Models;
@using XcaXds.Commons.Models.Soap.XdsTypes;
@using XcaXds.Commons.Models.Soap;

<div class="ebrim-card">
    <div class="ebrim-header">
     AdhocQueryResponse
    </div>
    <div class="ebrim-body">
        <ul>
            <IdentifiableTypeComponent identifiableType=AdhocQueryResponse.RegistryObjectList />
        </ul>
    </div>
</div>

@code {
    [Parameter]
    public AdhocQueryResponse AdhocQueryResponse { get; set; } = default!;
}