@using XcaXds.Commons.Models;
@using XcaXds.Commons.Models.Soap.Actions
@using XcaXds.Commons.Models.Soap.XdsTypes;
@using XcaXds.Commons.Models.Soap;

<div class="ebrim-card">
    <div class="ebrim-header association-header ">
        Retrieve Document Set
    </div>
    <div class="ebrim-body">
        <ul>
            @if (
            RetrieveDocumentSet.RegistryResponse != null && 
            RetrieveDocumentSet.RegistryResponse.ResponseSlotList != null && 
            RetrieveDocumentSet.RegistryResponse.ResponseSlotList.Length != 0)
            {
                <RegistryResponseComponent RegistryResponse=RetrieveDocumentSet.RegistryResponse/>
            }
            @if (RetrieveDocumentSet.DocumentResponse != null && RetrieveDocumentSet.DocumentResponse.Length != 0)
            {
                @for (int i = 0; i < RetrieveDocumentSet.DocumentResponse.Length; i++)
                {
                    var documentResponse = RetrieveDocumentSet.DocumentResponse[i];
                    <DocumentResponseComponent DocumentResponse=@documentResponse/>
                }
            }
        </ul>
    </div>
</div>

@code {
    [Parameter]
    public RetrieveDocumentSetResponseType RetrieveDocumentSet { get; set; } = default!;
}