@using XcaXds.Commons.Models;
@using XcaXds.Commons.Models.Soap.XdsTypes;
@using XcaXds.Commons.Models.Soap;

<div class="ebrim-card soapfault-card">
    <div class="ebrim-header soapfault-header">
     Soap Fault
    </div>
    <div class="ebrim-body">
        <strong><i class="bi breadcrumb-item"></i> @SoapFault.Reason.Text</strong>

        <ul>
            <li><i class="bi breadcrumb-item"></i> @SoapFault.Code.Value</li>
        </ul>
    </div>
</div>

@code {
    [Parameter]
    public Fault SoapFault { get; set; } = default!;
}