.nav-title {
  text-decoration: none;
  text-wrap: nowrap;
  color: #d7d7d7;
  font-size: 1.2rem;
  letter-spacing: 0.05rem;
  font-weight: 500;
  padding: 0.5rem 0;
  margin-bottom: 0.5rem;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.nav-section {
  display: block;
  padding: 0.5rem 0;
  margin-left: 0.8rem;
}

.navbar-toggler:checked ~ .nav-scrollable {
  display: block;
}
