@using XcaXds.Frontend.Components.UserInterface.Navigation;

<div class="navbar navbar-dark w-100">
    <div class="d-flex flex-column w-100 align-items-center justify-content-center">
        <a class="nav-title" href="">
            <Icon Name="IconName.FileEarmarkMedical" />
            XDS Document Admin
        </a>
    </div>
</div>

<div class="nav-scrollable">
    <nav class="flex-column text-light">
        <div class="nav-section">
            <NavHeader Text="Main" IconName="IconName.ArrowDownRightSquareFill" />
            <NavElement Text="Home" link="" IconName="IconName.HouseFill" />
            <NavElement Text="Registry" Description="Search document metadata" link="Documentlist" IconName="IconName.ArchiveFill" />
            <NavElement Text="Repository" Description="Retrieve documents" link="Document" IconName="IconName.FolderFill" />
            <NavElement Text="Upload documents" Description="Registry/Repository" link="UploadDocument" IconName="IconName.Upload" />
            <NavElement Text="Search Patient Identities" Description="Registry" link="PatientId" IconName="IconName.Person" />
        </div>
        <div class="nav-section mt-2">
            <NavHeader Text="Resources" IconName="IconName.InfoCircleFill" />
            <NavElement Text="XDS Documentation" link="https://profiles.ihe.net/ITI/TF/Volume1/ch-10.html" IconName="IconName.BookHalf" />
            <NavElement Text="GitHub" link="https://github.com/timmo-nhn/XcaDocumentSource" IconName="IconName.Github" />
        </div>
    </nav>
</div>


@code {



}