
@using XcaXds.Commons.Models;
@using XcaXds.Commons.Models.Soap.XdsTypes;
@using XcaXds.Commons.Models.Soap;

<div class="ebrim-card classification-card">
    <div class="ebrim-header classification-header">
        Classification
    </div>
    @Classification.ClassifiedObject
    @if (Classification.ClassificationNode != null)
    {
        <div><i class="bi bi-tag"></i> Classification: @Classification.ClassificationNode</div>
    }
    <div class="ebrim-body">
        <ul>
            @if (Classification.Slot != null && Classification.Slot.Length != 0)
            {
                @foreach (var slot in Classification.Slot)
                {
                    <SlotComponent Slot=slot />
                }                
            }
            @if (Classification.Name != null && Classification.Name.LocalizedString != null)
            {
                <InternationalStringTypeComponent InternationalStringType=Classification.Name />
            }
        </ul>
    </div>
</div>

@code {
    [Parameter]
    public ClassificationType Classification { get; set; } = default!;
}
