
@using XcaXds.Commons.Models;
@using XcaXds.Commons.Models.Soap.XdsTypes;
@using XcaXds.Commons.Models.Soap;

<div class="ebrim-card external-identifier-card">
    <div class="ebrim-header external-identifier-header">
        ExternalIdentifier
    </div>
    <ul>
        <li>Id: @ExternalIdentifier.Id, RegistryObject=@ExternalIdentifier.RegistryObject</li>
    </ul>
    <div class="ebrim-body">
        <ul>
            @if(ExternalIdentifier.Name != null) 
            {
                <InternationalStringTypeComponent InternationalStringType=ExternalIdentifier.Name />
            }
            @if (ExternalIdentifier.Description != null)
            {
                <InternationalStringTypeComponent InternationalStringType=ExternalIdentifier.Description />
            } 
        </ul>
    </div>
</div>

@code {
    [Parameter]
    public ExternalIdentifierType ExternalIdentifier { get; set; } = default!;
}
