
@using XcaXds.Commons.Models;
@using XcaXds.Commons.Models.Soap.XdsTypes;
@using XcaXds.Commons.Models.Soap;
@using XcaXds.Commons.Services
@using XcaXds.Frontend.Components.EbRimComponents;

@inherits BaseXmlSerializableComponent<AssociationType>

<div class="ebrim-card association-card">
    <div class="ebrim-header association-header">
        Association
    </div>
    <div class="ebrim-body">
        <p><strong>Status: @RegistryResponse.Status</strong></p>
        <ul>
            @if (RegistryResponse.RegistryErrorList != null && RegistryResponse.RegistryErrorList.RegistryError.Length != 0)
            {
                <RegistryErrorListComponent RegErrorList="@RegistryResponse.RegistryErrorList" />
            }
            @if (RegistryResponse.ResponseSlotList != null && RegistryResponse.ResponseSlotList.Length != 0)
            {
                @foreach (var slot in RegistryResponse.ResponseSlotList)
                {
                    <SlotComponent Data=slot />
                }
            }
        </ul>
    </div>
</div>

@code {
    [Parameter]
    public RegistryResponseType RegistryResponse { get; set; } = default!;
    protected override void OnInitialized()
    {
    }

}
