
@using XcaXds.Commons.Models;
@using XcaXds.Commons.Models.Soap.XdsTypes;
@using XcaXds.Commons.Models.Soap;

@inherits BaseXmlSerializableComponent<SlotType>

<div class="ebrim-card slot-card">
    <div class="ebrim-header slot-header">
        Slot
    </div>
    <i class="bi bi-tag"></i>@Slot.Name
    <div class="ebrim-body">
        <ul>
            @if (Slot.ValueList.Value != null && Slot.ValueList.Value.Length != 0)
            {
                @foreach (var value in Slot.ValueList.Value)
                {
                    <li><i class="bi bi-check-circle"></i> @value</li>
                }                
            }
        </ul>
    </div>
</div>

@code {
    [Parameter]
    public SlotType Slot { get; set; } = default!;

    protected override void OnInitialized()
    {
        if (Slot == null)
        {
            Slot = Data;
        }
    }
}
