@using XcaXds.Commons.Models.Hl7.V2

<h3>HL7 Response</h3>

@if (Hl7Message != null && Hl7Message.Segments().Count != 0)
{
	@foreach (var segment in Hl7Message.Segments())
	{
		@if (segment.Name == "PID")
		{
			<Hl7PidSegmentComponent Hl7PidSegment="@segment" />
		}
	}
}


@code {
	[Parameter]
	public Message Hl7Message { get; set; }
}
