@using Efferent.HL7.V2
@using XcaXds.Commons.Models.Hl7.DataType

@if (PatientIdentifier != null)
{
		<Card Class="shadow-sm mb-4 border-0">
			<CardHeader Class="bg-primary text-white d-flex align-items-center">
				<Icon Name="IconName.PersonBadge" Class="me-2" />
				<h5 class="mb-0">Patient Identifier: @PatientIdentifier?.PatientIdentifier?.IdNumber</h5>
			</CardHeader>
			<CardBody>
				<ul class="list-group list-group-flush">
					<li class="list-group-item">
						
						@switch (PatientIdentifier.Gender)
						{
							case "F":
								<span class="ms-2 text-danger"><Icon Name="IconName.GenderFemale" Class="me-1" /><strong>Gender: </strong>Female</span>
								break;

							case "M":
								<span class="ms-2 text-primary"><Icon Name="IconName.GenderMale" Class="me-1" /><strong>Gender: </strong>Male</span>
								break;

							case "A":
								<span class="ms-2 text-warning"><Icon Name="IconName.GenderAmbiguous" Class="me-1" /><strong>Gender: </strong>Ambiguous</span>
								break;

							default:
								<span class="ms-2 text-muted"><Icon Name="IconName.GenderNeuter" Class="me-1" /><strong>Gender: </strong>Unknown</span>
								break;
						}
					</li>
					<li class="list-group-item">
						<Icon Name="IconName.Person" Class="me-2 text-secondary" />
						<strong>First Name:</strong> @PatientIdentifier?.PatientName?.GivenName
					</li>
					<li class="list-group-item">
						<Icon Name="IconName.Person" Class="me-2 text-secondary" />
						<strong>Last Name:</strong> @PatientIdentifier?.PatientName?.FamilyName
					</li>
					<li class="list-group-item">
						<Icon Name="IconName.Hash" Class="me-2 text-secondary" />
						<strong>Patient ID:</strong> @PatientIdentifier?.PatientIdentifier?.IdNumber
					</li>
					<li class="list-group-item">
						<Icon Name="IconName.Database" Class="me-2 text-secondary" />
						<strong>Assigning Authority:</strong> @PatientIdentifier?.PatientIdentifier?.AssigningAuthority?.UniversalId
					</li>
				</ul>
			</CardBody>
			<CardBody>
				<h5> <Icon Name="IconName.Code" Class="me-2 text-secondary" /> HL7 Representation</h5>
				<pre>@Hl7PidSegment.Value</pre>
			</CardBody>
		</Card>
}

@code {
	[Parameter]
	public Segment Hl7PidSegment { get; set; }

	public PID PatientIdentifier { get; set; }

	protected override void OnInitialized()
	{
		if (Hl7PidSegment != null && PatientIdentifier == null)
		{
			PatientIdentifier = Hl7Object.Parse<PID>(Hl7PidSegment.Value,'|');
		}
	}
}
