@using Microsoft.AspNetCore.Components
@inject IJSRuntime JS

<div class="resizable-container" style="--init-width:@InitWidth; --min-width:@MinWidth;">
    <div class="pane left-pane" style="width:@InitWidth;">
        @LeftContent
    </div>
    <div class="resizer">
        <div class="resizer-handle"></div>
    </div>
    <div class="pane right-pane">
        @RightContent
    </div>
</div>

<style>
    .resizable-container {
        background-color: white;
        display: flex;
        flex-direction: row;
        width: 100%;
        height: 100%;
    }

    .pane {
        height: 100% !important;
    }

    .left-pane {
        width: 50%;
        overflow: auto;
    }

    .right-pane {
        flex-grow: 1;
        overflow: auto;
    }

    .resizer {
        width: 3px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: ew-resize;
        position: relative;
        user-select: none;
    }

    .resizer-handle {
        height: 98%;
        width: 4px;
        background-color: #ccc;
        border-radius: 5px;
        position: relative;
    }

    .resizer-handle:hover {
        background-color: #aaa;
    }
</style>

@code {
    [Parameter] 
    public RenderFragment LeftContent { get; set; } = default!;
    [Parameter]
    public RenderFragment RightContent { get; set; } = default!;

    [Parameter] 
    public string InitWidth { get; set; }
    [Parameter] 
    public string MinWidth { get; set; }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await JS.InvokeVoidAsync("resizablePanes.init");
        }
    }
}