@using XcaXds.Commons.Models;
@using XcaXds.Commons.Models.Soap.XdsTypes;
@using XcaXds.Commons.Models.Soap;

<div class="ebrim-card">
    <div class="ebrim-header identifiable-type-header">
        SOAP-Envelope
    </div>
    <div class="ebrim-body">
        <SoapHeaderComponent SoapHeader=SoapEnvelope.Header />
        <SoapBodyComponent SoapBody=SoapEnvelope.Body />
    </div>
</div>

@code {
    [Parameter]
    public SoapEnvelope SoapEnvelope { get; set; } = default!;
}
