@using XcaXds.Commons.Models;
@using XcaXds.Commons.Models.Soap.XdsTypes;
@using XcaXds.Commons.Models.Soap;
@using XcaXds.Frontend.Components.EbRimComponents.Actions;

<div class="envelope">
    <div class="envelope-header">
    Body
    </div>
    <ul>
        @if (SoapBody.AdhocQueryResponse != null)
        {
            <AdhocQueryResponseComponent AdhocQueryResponse=SoapBody.AdhocQueryResponse />
        }
        @if (SoapBody.RetrieveDocumentSetResponse != null)
        {
            <RetrieveDocumentSetResponseComponent RetrieveDocumentSet=SoapBody.RetrieveDocumentSetResponse />
        }
        @if (SoapBody.Fault != null)
        {
            <SoapFaultResponseComponent SoapFault=SoapBody.Fault />
        }
        @if (SoapBody.RegistryResponse != null)
        {
            <RegistryResponseComponent RegistryResponse=SoapBody.RegistryResponse />
        }
    </ul>
</div>

@code {
    [Parameter]
    public SoapBody SoapBody { get; set; } = default!;
}
